#about.section
  .inner
    h3 Why Grant
    p 自 2012 年以來，公民科技運動風起雲湧，以開放透明、公民參與為號召的 #[span.g0v] 台灣零時政府社群號召了第一場活動，以「寫程式改造社會」為口號，從此開始公民科技之火開始延燒，至今未歇。
    p 四年間，在上千位參與者集體的貢獻下，透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，降低公民參與門檻，也使得議題審議可立基在具體事實，提升理性討論公共事務的意識。
    p 這場開放資料、開放政府運動，#[span.g0v] 社群也打破了民間與政府對抗的傳統運動路線，開創出台灣公民社會與政府互動的新模式。
    p 然而，這類開源工具開發、經營，甚至社群本身，大多仰賴志願者的熱情投入。雙月大黑客松可說是 #[span.g0v] 社群的起點，三年多來，#[span.g0v] 揪松團已舉辦二十餘次百人大黑客松，超過兩千人次參與。
    p 我們認為好的創意與設計還需要#[b 投入持續開發、長期營運維護的人力與心力]，才能真正成為足以產生改變、激發更多創意與發展的成果。
    br

    h3 關於 #[span.g0v] 公民科技創新獎助金
    p 為鼓勵更多優秀人才投入公民科技領域、加速孵化更多成果，我們向國內外各大具社會影響力之媒體、科技產業募集「#[b 公民科技創新獎助金]」，並從 #[span.g0v] 零時政府揪松團設計一套參與、評選機制，來獎助具潛力且有助公共利益的專案，投入原型開發或維護營運。
    p 期待透過與關注科技與社會的企業、團體合作，共同推廣成果、宣傳曝光，促使專案成果能真正產生影響力，並延伸出更多可能。
    br

    h3 獎助內容
    ul
      li 六個月一期的獎助期程
      li 每個計畫約為新台幣 30 ~ 50 萬元的規模

