#faq.section: .inner
  .row
    .col-sm-1: h3 FAQ
    .col-sm-11
      h4 團隊是否可以報名？
      p 可以，由一自然人代表報名。可在計劃書及預算書中註明工作分配與獎助分配。重點是說服評審該專案的可行度、影響力、可重複使用性、可行性、完成度。
      br
      h4 我是外國人可以申請嗎？如何認定居住於台灣？
      p
      br
      h4 我不會寫程式，但有個點子，可以提案嗎？
      p
      br
      h4 成果如果要商業化？可以開公司嗎？
      p 可以，但在六個月內的開發成果需開源供公眾使用。
      br
      h4 可以聘僱其它人嗎？
      p
      br
      h4 成果如何審核？
      h4 有規定使用哪種開源條款嗎？
      h4 可以用進行中的專案申請嗎？
      h4 我什麼時候會拿到獎助金？
      h4 如果我無法出席任一場次黑客松怎麼辦？
      h4 六個月之後會發生什麼事？
      h4 我收到獎助金需要繳稅嗎？
      h4 我可以一次提很多案子嗎？
      h4 我想幫助非台灣的議題可以來申請嗎？ ( e.g., 敘利亞難民 )
      h4 我要如何聯絡主辦單位？
      h4 你們接受英語或其它語系的專案嗎？
      p 我們僅接受正體中文申請。
      br

      h4 若有接受不同的 funding？
      h4 半年後，同一專案或同一個人是否可以申請第二次？
      h4 現有專案是否能申請？
      h4 On demand
      h4 申請者最低年齡限制是？
      h4 如果我們是一個 team 的話，其他人會被列在專案網站、報導上面嗎？
      h4 Prototype 完成狀態是什麼？

