#footer
  br
  .text-center
    img(src="img/g0v-invert.png")
  .text-center
    a.label.label-primary(href="http://github.com/g0v/") #[span Source]
    span &nbsp;
    a.label.label-primary(href="http://hack.g0v.tw") #[span Jothon]
    span &nbsp;
    a.label.label-primary(href="http://g0v.tw") #[span.g0v]
