#footer
  br
  .text-center
    img(src="img/g0v-invert.png")
  .text-center
    a.label.label-primary(href="http://github.com/g0v/",target="_blank") #[span Source]
    span &nbsp;
    a.label.label-primary(href="http://hack.g0v.tw",target="_blank") #[span Jothon]
    span &nbsp;
    a.label.label-primary(href="http://g0v.tw",target="_blank") #[span.g0v g0v]
    span &nbsp;
    a.label.label-primary(href="http://hack.g0v.tw/transaction",target="_blank") 本計畫收支細項
