#landing
  .inner
    img.logo(src="img/logo.png")
    h1 公民科技創新獎助金
    h2 Civic Tech Prototype Grant
    img(src="img/g0v.png")
    br
    
    small
      h3 尋找公民科技的續航力

      p: b.
        30~50萬，六個月 #[br]
        開源公民科技 #[br]
        2017/01/01 起跑 ( 01/31 提案截止 )

