#landing
  .inner
    img.logo(src="img/logo.png")
    h1 g0v 公民科技創新獎助金
    h2 Civic Tech Prototype Grant
    img(src="img/g0v.png")
    br
    
    small
      h3 沒有人要給你錢

      p: b.
        總獎金 300 萬 #[br]
        6 個月，每個專案 30-50 萬 #[br]
        2017/01/31 截止

