#partners.section: .inner(style="max-width:1024px")
  .text-center

    h3 合作夥伴
    br
    .sponsor.partner
      .banner(style="background:url(img/sponsor/udn.png)")
      .oneword 21世紀是科技即國力的時代，公民參與科技愈普及，對國力提升愈有幫助
      .detail.text-left 
        div 我是誰： 願景工程是2011年聯合報六十周年社慶時對社會許下的承諾，要努力讓台灣更好。
        div 做些什麼事：引領關注重大公共議題，至今已推出數十個大型專題報導、上百場活動。
        div 邀您手攜手：願景工程不只報導，還有行動，你我合作，正向改變。
    .sponsor.partner
      .banner(style="background:url(img/sponsor/twn.png)")
      .oneword 我們希望邀請更多科技人才，運用創意與設計創造更大的公共利益，為社會與公益創造更多可能。
      .detail 台灣大哥大基金會目標成為「數位匯流的領航者」，我們將持續運用企業核心資源，來關懷及服務社會，不僅是提供贊助，更要協助弱勢團體提升數位能力，並推廣全民社會責任教育，積極促進社會共融、奠定永續基礎。在4G時代資訊快速傳達的背景下，我們將特別著重於國內數位內容產製人才的培育，以提升國內文創軟實力，並媒合數位人才與公益團體的跨界合作，帶動公益科技化，使社會效益極大化。
    .sponsor.partner
      .banner(style="background:url(img/sponsor/jaclyn.png)")
      .oneword 希望Civic Tech Grant 用新思維改版現行政府運作系統，讓台灣創造民主新典範！
      .detail 曾任地方法院法官，之後由法官轉職進入IBM公司擔任台灣及大中華區法務長。1998年創辦「理慈國際科技法律事務所」，專長科技法律、併購、技術授權/移轉等案件。2013年11月受邀入閣擔任行政院政務委員，為少數女性閣員之一。2014年與g0v結緣，同年12月至第11次g0v黑客松挖坑提案，由g0v志工建置了「vTaiwan虛擬世界法規調適交流平台」。任職政務委員期間除致力推動虛擬世界發展相關法規調適以外，電子商務、創新創業環境、自造者運動、公司法增訂「閉鎖性股份有限公司」專節等相關政務之推動亦不遺餘力。
    br
    h3 協辦單位
    br
    .sponsor
      a.banner(style="background:url(img/sponsor/ocf.png)",href="https://ocf.tw",target="_blank")
    br
    h3 媒體協力
    br
    .sponsor
      a.banner(style="background:url(img/sponsor/udn.png)",href="http://vision.udn.com/vision/index",target="_blank")
    br
    br
    a.btn.btn-lg.btn-danger(href="mailto:g0v-jothon@googlegroups.com") 合作洽詢
