#schedule.section: .inner
  .subsection
    img(src="img/schedule-1.png")
    h2 公開提案 #[.date 01/01 - 01/31]
    .btn.btn-primary.btn-xl.disabled 我要提案
    br
    br
    .inner
      h3 先承認你就是沒有人！
      p 針對徵求主題，任何公民皆可提出開源專案，申請 30 萬 - 50 萬之公民科技創新獎助金。
      br
      h4 一般主題
      ul
        li 新媒體應用，例如：增進媒體使用數據資料、法案的工具
        li 開放資料，例如：建立跨國政商關係資料庫通用平台
        li 公共服務，例如：協助弱勢找尋政府與民間可能適合自己的福利、補助
        li 開放政府，例如：訂閱政府網站公告、政策法案等主動通知系統
        li 社會參與，例如：協助線上討論、分析爭點與群眾決策的工具
        li 基礎建設，例如：幫助社群發展、維護、可吸引更多開發者加入的專案
      br
      h4 本期特別主題
      ul: li 惜食願景，例如：降低食物浪費、推動剩食分享
      br
      h4 提案要求
      ul
        li 提案必須是開放原始碼，且符合 #[a(href="http://g0v.tw/zh-TW/manifesto.html", target="_blank") g0v 宣言精神]
        li 軟體專案須使用符合 #[a(href="https://opensource.org/licenses",target="_blank") OSI 認可之授權]文字、圖像等需使用符合 #[a(href="https://creativecommons.org/share-your-work/public-domain/freeworks/", target="_blank") Free Culture Works] 定義
        li 提案必須考量行動裝置 Mobile-Friendly
        li 可參考#[a(href="http://bit.ly/2fN8E4y",target="_blank") 這個申請範本]。

  .subsection
    img(src="img/schedule-1.png")
    h2 公開評論 #[.date 01/01 - 02/10]
    .btn.btn-primary.btn-xl.disabled 我要討論
    br
    br
    .inner
      h3 每一個成功的專案背後都有偉大的一群人。
      p 一起加入公眾評論，幫助提案者的專案更上一層！
      p 最終獎助金發放由 #[span.g0v g0v] 揪松團邀請公正專業人士組成審查委員會，依以下比例評選：
      ul  
        li 30% 影響力 Impact
        li 20% 可重複使用性 Reusability
        li 20% 可行性 Feasibility
        li 20% 完成度 Completion
        li 10% 在地性 Locality
      br
      p 註：2/10 評論結束後，提案者可持續修改至 2/13。

  .subsection
    img(src="img/schedule-1.png")
    h2 開工 #[.date 03/15 - 09/15]
    a.btn.btn-primary.disabled.btn-xl(href="http://us13.campaign-archive1.com/home/?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",target="_blank") 我要關注
    br
    br
    .inner
      h4
      ul
        li 獎助金分期初期中兩期發放
        li 願景工程獎：於獎助名單公佈後，由聯合報系願景工程加碼贊助一個專案 5-10 萬元
        li 揪松團提供 Kickoff workshop、技術顧問、公民團體媒合資源
        li 通過申請之專案將於 #[span.g0v g0v] #[a(href="http://g0v.tw/zh-TW/actinfo.html",target="_blank") 雙月大黑客松]進行進度發表，並需配合其它成果發表會等相關活動（至 2017 年九月底）。
      br
