#schedule.section: .inner
  .subsection
    img(src="img/schedule-1.png")
    h2 公開提案 #[.date 01/01 - 01/31]
    .btn.btn-primary.btn-xl.disabled 我要提案
    br
    br
    .inner
      h4 特定主題
      ul: li 惜食願景
      br
      h4 一般主題
      ul
        li 新媒體應用，例如：增進媒體使用數據資料、法案的工具
        li 開放資料，例如：建立跨國政商關係資料庫通用平台
        li 公共服務，例如：協助弱勢找尋政府與民間可能適合自己的福利、補助
        li 開放政府，例如：訂閱政府網站公告、政策法案等主動通知系統
        li 社會參與，例如：協助線上討論、分析爭點與群眾決策的工具
        li 基礎建設，例如：幫助社群發展、維護、可吸引更多開發者加入的專案
      br

      h4 申請資格
      p 居住於台灣或具台灣國籍之自然人
      br
      h4 申請表格範本 ( 以中文填寫 )
      p 申請表格包含下列問題：
      ul
        li 專案名稱
        li 請以 80 ~ 120 字簡短地說明這個專案
        li 這個計畫要解決什麼問題，動機是什麼？
        li 你預計用什麼方式解決此問題？
        li 這個計畫的目標對象是誰？預計跟什麼團體合作？
        li 過去有作過相關主題的計畫嗎？過去作過什麼開源開發計畫（open source project）？（可提供 GitHub 帳號）
        li 打算如何讓社群參與以及回饋意見
        li 預計六個月內將花多少小時作這件事？需要多少錢？（30 萬到 50 萬）
        li 計畫至少須有期中及期末兩個里程碑（milestone），請自行訂定並說明各里程碑之驗收項目及驗收標準。
        li 未來可能進一步的發展？
        li 本計畫目前是否已有、或正在申請其他的資金來源？若有，請說明申請本獎助的內容與原計畫的差異。
      p 若想要更清楚如何填寫申請表格，可參考#[a(href="http://bit.ly/2fN8E4y",target="_blank") 這個申請範本]。


      br
      br
      //-
        h4 申請表格 / #[small.grayed 請以中文填寫]
        p.
          範例：http://bit.ly/2fN8E4y  
          專案名稱
          請以 80 ~ 120 字簡短地說明這個專案
          這個計畫要解決什麼問題，動機是什麼？
          你預計用什麼方式解決此問題？
          這個計畫的目標對象是誰？預計跟什麼團體合作？
          過去有作過相關主題的計畫嗎？過去作過什麼開源開發計畫（open source project）？（可提供 GitHub 帳號）
          打算如何讓社群參與以及回饋意見
          預計六個月內將花多少小時作這件事？需要多少錢？（30 萬到 50 萬）
          計畫至少須有期中及期末兩個里程碑（milestone），請自行訂定並說明各里程碑之驗收項目及驗收標準。
          未來可能進一步的發展？
          本計畫目前是否已有、或正在申請其他的資金來源？若有，請說明申請本獎助的內容與原計畫的差異。

  .subsection
    img(src="img/schedule-1.png")
    h2 公開評論 #[.date 01/01 - 02/10]
    .btn.btn-primary.btn-xl.disabled 我要討論
    br
    br
    .inner
      h4 第一階段
      p 提案將在網路與 #[span.g0v] 社群公開徵求意見，提案者將在公開期間參考各項意見修改提案、或說明回應。
      br
      h4 第二階段
      p 將由揪松團邀請具備下列資格的人士，組成審查委員會：
      ul
        li 明確了解開放文化與社群精神的 #[span.g0v] 社群參與者
        li 具有資訊技術背景，能分析提案的技術難度者
        li 特殊專業領域：例如法律、學者等
        li 熟悉社會議題、公益之 NGO 組織工作者
        li 資深媒體從業人員
      p 其審查標準如下：

      ul
        li 提案必須是開放原始碼，且不違反社群守則
        li 軟體專案須使用符合 #[a(href="https://opensource.org/licenses",target="_blank") OSI 認可之授權]
        li 文字、圖像等需使用符合 Free Culture Works 定義
        li 提案必須考量行動裝置 Mobile-Friendly
        li 
          span 評斷比例
          ul
            li 影響力 Impact 30%
            li 可重複使用性 Reusability 30%
            li 可行性 Feasibility  20%
            li 完成度 Completion 20%
            li 在地性 Localization 10%

      br
      br

  .subsection
    img(src="img/schedule-1.png")
    h2 開工 #[.date 03/01 - 09/30]
    .btn.btn-primary.disabled.btn-xl 我要關注
    br
    br
    .inner
      h4
      p 通過申請之專案將於 #[span.g0v] 雙月大黑客松進行進度發表，並於 2017/09/10 ~ 13 於台北 WCIT 參與成果發表會。
      br
