#team.section: .inner
  .text-center
    h3 執行團隊
  br

  .row
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/ipa.jpg")
      .media-body
        h4.media-heading 總監：瞿筱葳 (ipa)
        p 作家/紀錄片工作者，#[span.g0v] 零時政府社群共同發起人，近年關注開源文化與數位公民參與，推廣跨界開源協作模式。
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/ttcat.jpg")
      .media-body
        h4.media-heading 計畫主持人：吳銘軒 (ttcat)
        p 開放文化基金會副執行長，參與多年環境、性別與人權社會運動。專長為創意企劃、溝通設計與程式。
  .row
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/clkao.jpg")
      .media-body
        h4.media-heading 評選召集：高嘉良 (clkao) / #[.g0v] 零時政府共同發起人
        p 參加 1997 年國際資訊奧林匹亞後，進入台大資訊系就讀，即活躍於國內外開放源碼社群，隨後旅居英國倫敦從事軟體開發及顧問工作。2012 年發起 #[span.g0vtw] 計畫。
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/kirby.jpg")
      .media-body
        h4.media-heading 評選召集：吳泰輝 (kirby) / #[.g0v] 零時政府共同發起人
        p #[span.g0v] 零時政府共同發起人，網路工程師，深度耕耘資料視覺化與新媒體實驗。
  .row
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/isabelhou.jpg")
      .media-body
        h4.media-heading 法律顧問：侯宜秀律師 (Isabelhou)
        p #[span.g0v] 社群長期參與者，1997年起執業，專注科技創新及智慧財產法律，曾擔任多項政府大型科技補助計畫及NGO法律顧問，長期關注開源科技及社會議題。
    .col-sm-6: .media
      .media-left
        a(href="#"): img.media-object(src="img/avatar/aeltab.jpg")
      .media-body
        h4.media-heading 執行秘書：簡韻真 (aelcenganda)
        p 在 #[span.g0v] 當沒有人、參與新媒體和網路創新，關心網路、性別、科學等公眾議題。

  //-.row
    each i in [1,2]
      .col-sm-6
        each j in [1,2,3]
          .media
            .media-left
              a(href="#"): img.media-object(src="img/avatar/ipa.jpg")
            .media-body
              h4.media-heading 總監：瞿筱葳 (ipa)
              p 作家/紀錄片工作者，g0v 零時政府社群共同發起人，近年關注開源文化與數位公民參與，推廣跨界開源協作模式。

    .col-sm-6
