#topics.section
  .inner.topic-list
    h3.text-center 公民科技
    .row.text-center
      .col-sm-4.col-xs-6
        img(src="img/topics/open-government-nt.svg")
        .title 開放政府
      .col-sm-4.col-xs-6
        img(src="img/topics/new-media-nt.svg")
        .title 新媒體
      .col-sm-4.col-xs-6
        img(src="img/topics/public-service-nt.svg")
        .title 公共政策
      .col-sm-4.col-xs-6
        img(src="img/topics/open-data-nt.svg")
        .title 開放資料
      .col-sm-4.col-xs-6
        img(src="img/topics/social-participate-nt.svg")
        .title 社會參與
      .col-sm-4.col-xs-6
        img(src="img/topics/infrastructure-nt.svg")
        .title 基礎建設
    br
    hr
    br
    h3.text-center 焦點主題
    h2 惜食願景 / #[small.grayed 本期特別徵求以惜食為動力，改變社會環境的行動方案]
    br
    p 法國去年立法禁止超市丟棄食物、必須轉捐給慈善團體後，解決零售通路大量丟棄下架食品導致的食物浪費問題，也催生了專賣剩食的「惜食超市」新浪潮。反觀台灣，我們每天的廚餘量可堆成 60 座 101 大樓、食品加工與飲食生態練、糧食危機到農業政策⋯。
    p 一起來深入了解與飲食革命相關的議題，思考我們該如何面對挑戰！

    br
    .row.gallery
      .col-xs-6.col-md-3
        a.food1.thumbnail(href="#",target="_blank")
          .img()
          .desc 
      .col-xs-6.col-md-3
        a.food2.thumbnail(href="#",target="_blank")
          .img()
          .desc 
      .col-xs-6.col-md-3
        a.food3.thumbnail(href="#",target="_blank")
          .img()
          .desc 
      .col-xs-6.col-md-3
        a.food4.thumbnail(href="#",target="_blank")
          .img()
          .desc 
    .text-center
      br
      聯合報願景工程專題系列報導
      br
      br
      a.btn.btn-danger.btn-lg(href="http://vision.udn.com/vision/cate/8104",target="_blank") 飲食革命

script.
  $.ajax({
    url: 'http://ttcat.net/udnrss/',
    dataType: 'json',
    jsonpCallback: 'MyJSONPCallback', // specify the callback name if you're hard-coding it
    success: function(data){
      // we make a successful JSONP call!
      $.each(data, function(i, item) {
        var x = 'food' + (i + 1);
        $('.'+x).attr('href', item.link);
        $('.'+ x + ' > .img').css('background-image', 'url(\'' + item.img + '\')');
        $('.'+ x + ' > .desc').html(item.title);
        $('.'+ x).attr('href', item.link);
      })
    }
  });
