#topics.section
  .inner.topic-list
    h3.text-center 六大主題
    .row.text-center
      .col-sm-4.col-xs-6
        img(src="img/topics/open-government-nt.svg")
        .title 開放政府
      .col-sm-4.col-xs-6
        img(src="img/topics/new-media-nt.svg")
        .title 新媒體
      .col-sm-4.col-xs-6
        img(src="img/topics/public-service-nt.svg")
        .title 公共政策
      .col-sm-4.col-xs-6
        img(src="img/topics/open-data-nt.svg")
        .title 開放資料
      .col-sm-4.col-xs-6
        img(src="img/topics/social-participate-nt.svg")
        .title 社會參與
      .col-sm-4.col-xs-6
        img(src="img/topics/infrastructure-nt.svg")
        .title 基礎建設
    br
    hr
    br
    h3.text-center 本期特別主題
    h2 惜食願景 / #[small.grayed 減少食物浪費已是世界風潮]
    p 法國去年立法禁止超市丟棄食物、必須轉捐給慈善團體後，解決零售通路大量丟棄下架食品導致的食物浪費問題，也催生了專賣剩食的「惜食超市」新浪潮。
    .row.gallery
      .col-xs-6.col-md-3
        a.thumbnail(href="#")
          .img(style="background-image:url(img/placeholder/cake.jpg)")
          .desc 綠惜超市採取「買一捐一」計劃，每賣出一項商品，就同時捐出一份營養膳食給貧童。
      .col-xs-6.col-md-3
        a.thumbnail(href="#")
          .img(style="background-image:url(img/placeholder/cake.jpg)")
          .desc 綠惜超市採取「買一捐一」計劃，每賣出一項商品，就同時捐出一份營養膳食給貧童。
      .col-xs-6.col-md-3
        a.thumbnail(href="#")
          .img(style="background-image:url(img/placeholder/cake.jpg)")
          .desc 綠惜超市採取「買一捐一」計劃，每賣出一項商品，就同時捐出一份營養膳食給貧童。
      .col-xs-6.col-md-3
        a.thumbnail(href="#")
          .img(style="background-image:url(img/placeholder/cake.jpg)")
          .desc 綠惜超市採取「買一捐一」計劃，每賣出一項商品，就同時捐出一份營養膳食給貧童。
    .text-center
      a.btn.btn-danger.btn-lg(href="#",target="_blank") 了解更多
