@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: #f2f2f2
  font-size: 18px
  font-family: roboto,"Noto Sans TC"
h1,h2,h3,h4,h5,h6,p,li,a
  font-family: roboto,"Noto Sans TC"

nav.navbar.navbar-default
  border-bottom: 0
  background: #ff4d00
  & li a
    color: #fff
  .container-fluid
    max-width: 1280px
    margin: auto
  .navbar-brand
    padding: 11px
    img
      height: 26px

.red
  color: #c42026

b
  color: #c42026
.grayed
  color: #999

.section
  padding: 40px 40px
  margin: 0 auto
  max-width: 1280px
  background: #fff
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3)
  & > .inner
    max-width: 800px
    margin: auto

@media(max-width: 1280px)
  .section
    max-width: 90%
@media(max-width: 640px)
  .section
    max-width: 100%
    box-shadow: none

#landing .logo
  width: 520px
  margin-top: 100px
  margin-left: 50px
  @media(max-width:640px)
    display: none

#landing .logo-sm
  width: 100%
  margin-top: 100px
  @media(min-width:640px)
    display: none

#nobody
  font-size: 2.2em

#schedule
  font-weight: 100
  h4
    font-size: 1.15em
    font-weight: 600

#schedule.section > .inner
  max-width: 900px

.subsection
  margin-bottom: 80px
  .inner
    border-left: 3px solid #fff
    padding-left: 95px

#schedule img
  float: left
  margin: 0 50px 10px -55px

#schedule
  @media(max-width: 480px)
    &.section
      padding: 10px
    .subsection
      .date
        display: block
        font-size: 0.8em
        margin-top: 5px
      .btn-xl
        width: 100%
      img
        width: 70px
        margin-left: 0
        margin-right: 10px
      .inner
        padding-left: 15px
        li
          padding-left: 0

.subsection h2
  margin-top: 15px

.btn-xl
  font-size: 20px
  padding: 8px 30px
  margin-top: 5px

.btn-xl.disabled.btn-primary
  background: #999
  border-color: #888

h3
  display: inline-block
  padding-bottom: 5px
  border-bottom: 4px solid #e95513
  margin-bottom: 26px
  font-size: 1.5em

.g0v
  display: inline
  font-family: consolas, Source Code Pro

.g0vtw
  display: inline-block
  font-family: consolas, Source Code Pro
  &:after
    content: "g0v.tw"
    display: inline

.btn.btn-primary
  background: #15a9a4

.btn.btn-danger
  background: #e95513

.media
  display: flex
  margin-bottom: 40px

.media-object
  width: 80px
  height: 80px
  border-radius: 50%
  margin-right: 10px

+keyframes(fadein)
  0%
    opacity: 0
  100%
    opacity: 1

+keyframes(fadeout)
  0%
    opacity: 1
  100%
    opacity: 0.5

.sponsor
  width: 270px
  display: inline-block
  margin: 8px 16px
  vertical-align: top
  position: relative
  .banner
    width: 250px
    height: 85px
    background: #d8d8d8
    display: inline-block
    margin-bottom: 10px
    opacity: 1
  .oneword
    font-size: 1.0em
    opacity: 1
  .detail
    display: none
    font-size: 0.78em
    background: rgba(0,0,0,0.7)
    color: #fff
    position: absolute
    top: 0
    padding: 10px
    font-weight: 100
    border-radius: 5px
    opacity: 0
.sponsor.partner
  min-height: 230px
.sponsor.partner:hover
  .oneword, .banner
    animation(fadeout 0.5s 1 linear forwards)
  .detail
    display: block
    animation(fadein 0.5s 1 linear forwards)

#landing
  background: url(img/landing.jpg) center center no-repeat
  background-size: cover
  width: 100%
  height: 580px
  h1
    margin-bottom: 0
  h2
    margin-top: 0
  h3
    border: none
    margin-top: 40px
  .inner
    padding-top: 120px
    max-width: 1280px
    margin: auto
  @media (max-width: 480px)
    h1
      font-size: 30px
    h2
      font-size: 20px
    h3
      font-size: 20px

#about
  border-radius: 15px 15px 0 0
  margin-top: 0
  @media (max-width: 640px)
    border-radius: 0
    border-top: 4px solid #ccc

#schedule
  h2
    display: block
    border-bottom: 0
    font-weight: 300
    .date
      display: inline-block
      margin-left: 30px
      font-size: 0.9em
  h4
    font-weight: 400
    margin: 20px 0
  background: #001c2f
  color: #ffffff

#fordummies
  background: #f7b52c
  .slideshow
    width: 74%
    height: 432px
    margin: 50px 13%
    background: #fff
    position: relative
    height: 0
    overflow: hidden
    padding-bottom: 41.7%
  .carousel
    position: absolute
    top:0
    left: 0
    width: 100%
    height: 100%

@media(max-width: 640px)
  #fordummies
    padding: 0 0 30px
    .slideshow
      width: 100%
      margin: 0 0 30px
      padding-bottom: 56%

#faq
  .inner
    max-width: 1280px
  h2
    margin: 0
    border-right: 4px solid #999
    padding-right: 20px
    height: 200px
    text-align: right
  @media(max-width: 768px)
    h2
      height: auto
      margin-bottom: 30px
      border-right: 0
      text-align: left
  h3
    margin-top: 5px
  p,li
    color: #555555
    font-weight: 200

#team
  color: #fff
  background: #15a9a4
  font-weight: 100
  font-size: 0.9em
  h4
    margin-bottom: 10px
  & > .inner
    width: 90%
    max-width: 90%
  .media-body p
    font-size: 0.9em

#footer
  width: 100%
  height: 120px
  background: #001c2f
#footer .label.label-primary
  font-family: consolas, Source Code Pro
  font-weight: 100
  padding-top: 5px
  background: #203c4f
.carousel-indicators li
  border-color: #999
