html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-size: 18px;
  font-family: roboto, "Noto Sans TC";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: roboto, "Noto Sans TC";
}
nav.navbar.navbar-default {
  border-bottom: 0;
  background: #ff4d00;
}
nav.navbar.navbar-default li a {
  color: #fff;
}
nav.navbar.navbar-default .container-fluid {
  max-width: 1280px;
  margin: auto;
}
nav.navbar.navbar-default .navbar-brand {
  padding: 11px;
}
nav.navbar.navbar-default .navbar-brand img {
  height: 26px;
}
.red {
  color: #c42026;
}
b {
  color: #c42026;
}
.grayed {
  color: #999;
}
.section {
  padding: 40px 40px;
  margin: 0 auto;
  max-width: 1280px;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}
.section > .inner {
  max-width: 800px;
  margin: auto;
}
@media (max-width: 1280px) {
  .section {
    max-width: 90%;
  }
}
@media (max-width: 640px) {
  .section {
    max-width: 100%;
    box-shadow: none;
  }
}
#landing .logo {
  width: 520px;
  margin-top: 100px;
  margin-left: 50px;
}
@media (max-width: 640px) {
  #landing .logo {
    display: none;
  }
}
#landing .logo-sm {
  width: 100%;
  margin-top: 100px;
}
@media (min-width: 640px) {
  #landing .logo-sm {
    display: none;
  }
}
#nobody {
  font-size: 2.2em;
}
#schedule {
  font-weight: 100;
}
#schedule h4 {
  font-size: 1.15em;
  font-weight: 600;
}
#schedule.section > .inner {
  max-width: 900px;
}
.subsection {
  margin-bottom: 80px;
}
.subsection .inner {
  border-left: 3px solid #fff;
  padding-left: 95px;
}
#schedule img {
  float: left;
  margin: 0 50px 10px -55px;
}
@media (max-width: 480px) {
  #schedule.section {
    padding: 10px;
  }
  #schedule .subsection .date {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
  }
  #schedule .subsection .btn-xl {
    width: 100%;
  }
  #schedule .subsection img {
    width: 70px;
    margin-left: 0;
    margin-right: 10px;
  }
  #schedule .subsection .inner {
    padding-left: 15px;
  }
  #schedule .subsection .inner li {
    padding-left: 0;
  }
}
.subsection h2 {
  margin-top: 15px;
}
.btn-xl {
  font-size: 20px;
  padding: 8px 30px;
  margin-top: 5px;
}
.btn-xl.disabled.btn-primary {
  background: #999;
  border-color: #888;
}
h3 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #e95513;
  margin-bottom: 26px;
  font-size: 1.5em;
}
.g0v {
  display: inline;
  font-family: consolas, Source Code Pro;
}
.g0vtw {
  display: inline-block;
  font-family: consolas, Source Code Pro;
}
.g0vtw:after {
  content: "g0v.tw";
  display: inline;
}
.btn.btn-primary {
  background: #15a9a4;
}
.btn.btn-danger {
  background: #e95513;
}
.media {
  display: flex;
  margin-bottom: 40px;
}
.media-object {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
width: 100%;
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
width: 100%;
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.sponsor {
  width: 270px;
  display: inline-block;
  margin: 8px 16px;
  min-height: 230px;
  vertical-align: top;
  position: relative;
}
.sponsor .banner {
  width: 250px;
  height: 85px;
  background: #d8d8d8;
  display: inline-block;
  margin-bottom: 10px;
  opacity: 1;
}
.sponsor .oneword {
  font-size: 1em;
  opacity: 1;
}
.sponsor .detail {
  display: none;
  font-size: 0.78em;
  background: rgba(0,0,0,0.7);
  color: #fff;
  position: absolute;
  top: 0;
  padding: 10px;
  font-weight: 100;
  border-radius: 5px;
  opacity: 0;
}
.sponsor:hover .oneword,
.sponsor:hover .banner {
  -ms-animation: fadeout 0.5s 1 linear forwards;
  -moz-animation: fadeout 0.5s 1 linear forwards;
  -webkit-animation: fadeout 0.5s 1 linear forwards;
  -o-animation: fadeout 0.5s 1 linear forwards;
  animation: fadeout 0.5s 1 linear forwards;
}
.sponsor:hover .detail {
  display: block;
  -ms-animation: fadein 0.5s 1 linear forwards;
  -moz-animation: fadein 0.5s 1 linear forwards;
  -webkit-animation: fadein 0.5s 1 linear forwards;
  -o-animation: fadein 0.5s 1 linear forwards;
  animation: fadein 0.5s 1 linear forwards;
}
#landing {
  background: url("img/landing.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 580px;
}
#landing h1 {
  margin-bottom: 0;
}
#landing h2 {
  margin-top: 0;
}
#landing h3 {
  border: none;
  margin-top: 40px;
}
#landing .inner {
  padding-top: 120px;
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 480px) {
  #landing h1 {
    font-size: 30px;
  }
  #landing h2 {
    font-size: 20px;
  }
  #landing h3 {
    font-size: 20px;
  }
}
#about {
  border-radius: 15px 15px 0 0;
  margin-top: 0;
}
@media (max-width: 640px) {
  #about {
    border-radius: 0;
    border-top: 4px solid #ccc;
  }
}
#schedule {
  background: #001c2f;
  color: #fff;
}
#schedule h2 {
  display: block;
  border-bottom: 0;
  font-weight: 300;
}
#schedule h2 .date {
  display: inline-block;
  margin-left: 30px;
  font-size: 0.9em;
}
#schedule h4 {
  font-weight: 400;
  margin: 20px 0;
}
#fordummies {
  background: #f7b52c;
}
#fordummies .slideshow {
  width: 74%;
  height: 432px;
  margin: 50px 13%;
  background: #fff;
}
#faq .inner {
  max-width: 1280px;
}
#faq h2 {
  margin: 0;
  border-right: 4px solid #999;
  padding-right: 20px;
  height: 200px;
  text-align: right;
}
@media (max-width: 768px) {
  #faq h2 {
    height: auto;
    margin-bottom: 30px;
    border-right: 0;
    text-align: left;
  }
}
#faq h3 {
  margin-top: 5px;
}
#faq p,
#faq li {
  color: #555;
  font-weight: 200;
}
#team {
  color: #fff;
  background: #15a9a4;
  font-weight: 100;
  font-size: 0.9em;
}
#team h4 {
  margin-bottom: 10px;
}
#team > .inner {
  width: 90%;
  max-width: 90%;
}
#team .media-body p {
  font-size: 0.9em;
}
#footer {
  width: 100%;
  height: 120px;
  background: #001c2f;
}
#footer .label.label-primary {
  font-family: consolas, Source Code Pro;
  font-weight: 100;
  padding-top: 5px;
  background: #203c4f;
}
